<DataSet Rows="1">
    <Row>
        <Item Name="i_SourceId">40</Item>
        <Item Name="s_SourceName">news.usnews.com</Item>
        <Item Name="b_SourceActive">1</Item>
        <Item Name="b_SourceFetched">1</Item>
        <Item Name="s_External">http://www.usnews.com/news</Item>
        <Item Name="s_Feed">http://www.ff.com:8000/testing/feed.php?source=News</Item>
    </Row>
</DataSet>
