body, table, td
{
	white-space: normal;
	font-family: Verdanda, Arial;
	font-size: 9pt;
	color: #666;
}
.out
{
	color: #666;
	background-color: #fff;
}
.m
{
	color: #666;
	background-color: #efe;
}
.header
{
	font-size: 10pt;
	font-weight: bold;
	background-color: #ada;
	color: #fff;
	text-align: center;
	height: 20pt;
	/* letter-spacing: 2pt; */
	border-top:dotted 2px #cec;
	border-bottom:dotted 2px #cec;
}
.myheader
{
	font-size: 10pt;
	font-weight: bold;
	background-color: #9f9;
	color: #fff;
	text-align: center;
	height: 24pt;
	/* letter-spacing: 3pt; */
}
.home
{
	vertical-align:top;
	font-size:larger;
}
.home1
{
	font-size: 10pt;
	font-weight: bold;
}
.home2
{
	font-size: 10pt;
}
.column
{
	font-weight: bold;
	background-color: #ada;
	text-align: center;
	height: 20pt;
	border-top:dotted 2px #ece;
}
.column td
{
	padding: 4pt;
}
.mycolumn
{
	font-weight: bold;
	background-color: #cec;
	text-align: center;
	height: 24pt;
}
.menu
{
	font-size: 10pt;
	font-weight: bold;
	color: #080;
	background-color: #ada;
	text-align: center;
	height: 20pt;
}
.mymenu
{
	font-size: 10pt;
	font-weight: bold;
	background-color: #cfc;
	text-align: center;
	height: 20pt;
}
.row
{
	background-color: #eee;
}
.my
{
	background-color: #efe;
}
.shade
{
	background-color: #dfd;
}
.hover
{
	background-color: #9f9;
}
.myshade
{
	background-color: #efe;
}
.featured
{
	background-color: #f99;
	font: bold;
}
.name
{
	padding-right:2pt;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}
.value
{
	padding-left:2pt;
	padding-right:2pt;
	text-align: left;
	vertical-align: top;
}
.big
{
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	padding-left:2pt;
	padding-right:8pt;
}
.side
{
	background-color: #cec;
	text-align: center;
}
.side .header
{
	background-color: #ada;
	border-top:none;
	border-bottom:none;
}
.item
{
	padding:4pt;
}
.view
{
	border-style:dotted;
	border-color:#080;
	background-color:#9f9;
	padding:5px;
	margin:0px
}
.red
{
	font-weight: bold;
	color: red;
	text-align: center;
}
.green
{
	font-weight: bold;
	color: green;
	text-align: center;
}
.blue
{
	font-weight: bold;
	color: blue;
	text-align: center;
}
.orange
{
	font-weight: bold;
	color: orange;
	text-align: center;
}
.black
{
	font-weight: bold;
	text-align: center;
}
.error
{
	font-weight: bold;
	color: red;
	text-align: center;
}
a:link
{
	color: #080;
	text-decoration: none;
}
a:visited
{
	color: #080;
	text-decoration: none;
}
a:hover
{
	color: #f00;
	text-decoration: underline;
}

.header a:link
{
	color: #fff;
	text-decoration: underline;
}
.header a:visited
{
	color: #fff;
	text-decoration: underline;
}
.header a:hover
{
	color: #6f6;
	text-decoration: none;
}

.Vertical
{
	background: url( "images/dots_vertical.gif" );
}
p
{
	color: red;
}

.bb
{
	border-left: dotted 1px #000;
}
