<table class="out" style="width:100%; border:0; border-spacing:0;">
    <tr>
        <td class="left top" style="padding:2pt; white-space:nowrap;">
            <a style="font-variant:small-caps; font-size:30pt; font-weight:bold" href="[#Top_Dir]">
                <span>Buddy</span> <span class="red">Fetcher</span></a><br/>
                <strong>[#Site_Comments]</strong>
        </td>
        <!--#if ![#Is_Mobile]-->
        <td style="text-align:right; vertical-align:bottom; padding:2pt; white-space:nowrap;">
            <!--div style="text-align:center; vertical-align:middle; width:468px; height:60px; background-color:#fff;">
            </div-->
            <strong>Today is: [#Date]</strong>
        </td>
        <!--#end if-->
    </tr>
</table>

