<table class="m" cellpadding="0" style="width:100%; border:0; border-spacing:0">
    <tr>
        <td>
            <table cellpadding="0" class="m" style="width:100%; border:0; border-spacing:0">
                <tr>
                    <td class="header">
                        Latest [#Name_Items] / <a href="[#BrowseItemsLink]">Browse [#Name_Items]</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="m" cellpadding="2" style="width:100%; border:0; border-spacing:0">
                <tr class="column">
                    <!--#if [#Show_Images]-->
                    <td style="width:5%; text-align:center"></td>
                    <td style="width:65%; text-align:center">[#Name_Item]</td>
                    <!--#end if-->
                    <!--#if ![#Show_Images]-->
                    <td style="width:70%; text-align:left">[#Name_Item]</td>
                    <!--#end if-->
                    <td style="width:18%; text-align:center">[#Name_Creator]</td>
                    <td style="width:12%; text-align:center">Date</td>
                </tr>
                <!--#repeat [#Items]-->

                <!--#if [#Shade]-->
                <tr class="shade" onMouseOver="this.className='hover';" onMouseOut="this.className='shade';">
                <!--#end if-->
                <!--#if ![#Shade]-->
                <tr onMouseOver="this.className='hover';" onMouseOut="this.className='m'">
                <!--#end if-->
                    <!--#if [#Show_Images]-->
                    <td class="item" style="text-align:center">
                        <a href="[#SourceLink]"><img src="[#Top_Dir]Images/[#SourceName].gif" title="[#SourceName]" /></a>
                    </td>
                    <!--#end if-->
                    <td class="item" style="vertical-align:middle; height:32pt">
                        <strong>
                            <a style="font-size:larger" href="[#Link]" title="From [#SourceName]">
                                [#Title]</a>
                        </strong>
                        <!--#if [#Show_From]==1-->
                            [<a href="[#Top_Dir]action.php?p=do_redirect_source&amp;source=[#SourceName]">[#Source]</a>]
                        <!--#end if-->
                        <!--#if [#Category]-->
                            <br/><strong>[#Name_Categories]</strong>: [#Category]
                        <!--#end if-->
                        <!--#if [#Custom2]-->
                            <br/><strong>[#Name_Custom2]</strong>: [#Custom2]
                        <!--#end if-->
                        <!--#if [#Custom1]-->
                            <br/><strong>[#Name_Custom1]</strong>: [#Custom1]
                        <!--#end if-->
                    </td>
                    <td class="item" style="text-align:center">
                        <!--#if [#Creator]-->
                        [#Creator]
                        <!--#end if-->
                    </td>
                    <td class="item" style="text-align:center">
                        [#Date]
                    </td>
                </tr>
                <!--#end repeat-->
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:center; padding:12pt;">
            <strong><a href="[#BrowseItemsLink]">Browse All [#Name_Items]</a></strong>
        </td>
    </tr>
</table>
