{
"Title" : "Buddy Fetcher :: sources",
"Keywords" : "Buddy Fetcher, rss, fetcher, aggregator, PHP, MySQL",
"Description" : "Buddy Fetcher is a simple RSS fetcher/aggregator written in PHP/MySQL",
"Copyright" : "Copyright (c) 2020-2021 Buddy Fetcher",
"Powered By" : "Buddy Fetcher",
"Powered Link" : "https://github.com/buddylancer/fetcher.php",
"Site" : "Latest Items",
"Date" : "28-Jun-2020 16:49 GMT",

"Page" : "List of active sources",
"Sources" : [
{
"Comments" : "Latest Items from <a href='http://www.test.com/items/source/education.usnews.com'>education.usnews.com</a>",
"Items" : [
{
"Item" : "Online Summer Classes Discounted for Coronavirus",
"Date" : "24-Jun-2020 16:01 GMT",
"Link" : "http://www.test.com/item/47/online-summer-classes-discounted-for-coronavirus",
"From" : "education.usnews.com",
"Creator":"Emma Kerr",
},
{
"Item" : "How to Learn Python: A U.S. News Guide",
"Date" : "23-Jun-2020 20:52 GMT",
"Link" : "http://www.test.com/item/46/how-to-learn-python-a-u-s-news-guide",
"From" : "education.usnews.com",
"Creator":"Carlos Soto",
},
{
"Item" : "How to Learn Data Science: A U.S. News Guide",
"Date" : "04-Jun-2020 17:11 GMT",
"Link" : "http://www.test.com/item/45/how-to-learn-data-science-a-u-s-news-guide",
"From" : "education.usnews.com",
"Creator":"Whitney Blair Wyckoff",
},
]
},
{
"Comments" : "Latest Items from <a href='http://www.test.com/items/source/health.usnews.com'>health.usnews.com</a>",
"Items" : [
{
"Item" : "7 Myths About Caregiving Costs",
"Date" : "12-Dec-2018 15:29 GMT",
"Link" : "http://www.test.com/item/146/7-myths-about-caregiving-costs",
"From" : "health.usnews.com",
"Creator":"Rachel Hartman",
},
{
"Item" : "What Is a Health Savings Account?",
"Date" : "05-Dec-2018 15:30 GMT",
"Link" : "http://www.test.com/item/145/what-is-a-health-savings-account",
"From" : "health.usnews.com",
"Creator":"Rachel Hartman",
},
{
"Item" : "Here's the Difference Between Flexibility and Mobility – and Why It Matters",
"Date" : "29-May-2018 14:41 GMT",
"Link" : "http://www.test.com/item/144/here-s-the-difference-between-flexibility-and-mobility-and-why-it-matters",
"From" : "health.usnews.com",
"Creator":"K. Aleisha Fetters",
},
]
},
{
"Comments" : "Latest Items from <a href='http://www.test.com/items/source/money.usnews.com'>money.usnews.com</a>",
"Items" : [
{
"Item" : "Can You Get a Loan After Bankruptcy?",
"Date" : "26-Jun-2020 20:32 GMT",
"Link" : "http://www.test.com/item/246/can-you-get-a-loan-after-bankruptcy",
"From" : "money.usnews.com",
"Creator":"Bob Musinski",
},
{
"Item" : "Verizon Visa Card",
"Date" : "26-Jun-2020 15:58 GMT",
"Link" : "http://www.test.com/item/245/verizon-visa-card",
"From" : "money.usnews.com",
"Creator":"David Haynes",
},
{
"Item" : "New Rules for Medical and Dependent Care FSAs",
"Date" : "26-Jun-2020 15:25 GMT",
"Link" : "http://www.test.com/item/244/new-rules-for-medical-and-dependent-care-fsas",
"From" : "money.usnews.com",
"Creator":"Kimberly Lankford",
},
]
},
{
"Comments" : "Latest Items from <a href='http://www.test.com/items/source/news.usnews.com'>news.usnews.com</a>",
"Items" : [
{
"Item" : "Investigators Probe Reported Russian Tundra Pollution",
"Date" : "28-Jun-2020 12:20 GMT",
"Link" : "http://www.test.com/item/345/investigators-probe-reported-russian-tundra-pollution",
"From" : "news.usnews.com",
"Categories" : "World - Russia",
"Creator":"Associated Press",
},
{
"Item" : "Black Bear Rescued as Cub Released Back Into Wyoming Woods",
"Date" : "28-Jun-2020 12:10 GMT",
"Link" : "http://www.test.com/item/344/black-bear-rescued-as-cub-released-back-into-wyoming-woods",
"From" : "news.usnews.com",
"Categories" : "Wyoming",
"Creator":"Associated Press",
},
{
"Item" : "Lazarus Chakwera Inaugurated as Malawi's New President",
"Date" : "28-Jun-2020 12:10 GMT",
"Link" : "http://www.test.com/item/343/lazarus-chakwera-inaugurated-as-malawi-s-new-president",
"From" : "news.usnews.com",
"Creator":"Associated Press",
},
]
},
{
"Comments" : "Latest Items from <a href='http://www.test.com/items/source/opinion.usnews.com'>opinion.usnews.com</a>",
"Items" : [
{
"Item" : "Trump Shouldn't Blame Gun Violence on Violent Video Games",
"Date" : "08-Mar-2018 15:40 GMT",
"Link" : "http://www.test.com/item/445/trump-shouldn-t-blame-gun-violence-on-violent-video-games",
"From" : "opinion.usnews.com",
"Creator":"David Zendle",
},
{
"Item" : "Medicaid Work Requirements Only Deny People Health Care",
"Date" : "08-Mar-2018 14:00 GMT",
"Link" : "http://www.test.com/item/444/medicaid-work-requirements-only-deny-people-health-care",
"From" : "opinion.usnews.com",
"Creator":"Rachel Graves",
},
{
"Item" : "New North Korea Talks Bring Skepticism and Hope",
"Date" : "08-Mar-2018 13:00 GMT",
"Link" : "http://www.test.com/item/443/new-north-korea-talks-bring-skepticism-and-hope",
"From" : "opinion.usnews.com",
"Creator":"Michael H. Fuchs",
},
]
},
{
"Comments" : "Latest Items from <a href='http://www.test.com/items/source/travel.usnews.com'>travel.usnews.com</a>",
"Items" : [
{
"Item" : "The Best Camping Gear to Buy for Your Next Adventure",
"Date" : "18-Jun-2020 13:00 GMT",
"Link" : "http://www.test.com/item/545/the-best-camping-gear-to-buy-for-your-next-adventure",
"From" : "travel.usnews.com",
"Creator":"Zach Watson",
},
{
"Item" : "20 Beautiful Small Towns in California",
"Date" : "04-Jun-2020 13:00 GMT",
"Link" : "http://www.test.com/item/544/20-beautiful-small-towns-in-california",
"From" : "travel.usnews.com",
"Categories" : "California",
"Creator":"Rachel Center",
},
{
"Item" : "16 Top East Coast Beaches to Visit",
"Date" : "29-May-2020 13:00 GMT",
"Link" : "http://www.test.com/item/543/16-top-east-coast-beaches-to-visit",
"From" : "travel.usnews.com",
"Creator":"Kyle McCarthy",
},
]
},
]




}
