<table class="m" cellpadding="0" style="border:0; width:100%; border-spacing:0">
    <tr>
        <td class="header" colspan="3" id="items_by_skills">
            [#Name_Items] by [#Name_Categories]
        </td>
    </tr>

    <tr>
        <!--#repeat [#FilterBlocks]-->
        <td style="font-size:larger; padding:12pt; width:33%; text-align:center; vertical-align: top">
            <!--#repeat [#Rows]-->
            <!--#if [#Is_Mobile]-->
                <a href="[#Link]"><strong>[#LinkText]</strong></a><br/>
            <!--#end if-->
            <!--#if ![#Is_Mobile]-->
                <a href="[#Link]">[#Name_Items] for '<strong>[#LinkText]</strong>'</a> ([#Counter])<br/>
            <!--#end if-->
            <!--#end repeat-->
        </td>
        <!--#end repeat-->
    </tr>

    <!--#if ![#Is_Mobile]-->
    <tr>
        <td class="header" colspan="3" id="read_rss_feeds">
            RSS-feeds by [#Name_Categories]
            <span style="color:red; letter-spacing:0;">New!</span>
        </td>
    </tr>

    <tr>
        <!--#repeat [#RssBlocks]-->
        <td style="font-size:larger; padding:12pt; width:33%; text-align:center; vertical-align:top">
            <!--#repeat [#Rows]-->
                <a href="[#Link]">Feed for '<strong>[#LinkText]</strong>'</a><br/>
            <!--#end repeat-->
        </td>
        <!--#end repeat-->
    </tr>
    <!--#end if-->
</table>
